{% extends "base.html" %}

{% block title %}Facturación{% endblock %}

{% block content %}
  <h2 class="text-center mb-4">Facturas</h2>
  <a href="{{ url_for('formulario_facturacion') }}" class="btn btn-primary mb-3">
    Registrar factura
</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Número</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for factura in facturas %}
        <tr>
          <td>{{ factura.id_factura }}</td>
          <td>{{ factura.cliente }}</td>
          <td>{{ factura.fecha }}</td>
          <td>${{ factura.total }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
